@model IEnumerable<WebApplicationApp.Models.Customers>
    <h1 class="page-header">My customers!!!</h1>
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                    <a href="/Customers/Create" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new customer</a>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        @*<th>Apellido</th>*@
                        <th>Edad</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.ActionLink(item.Name + " " +item.Apellido,"Edit",new { id=item.Id}) </td>
                        @*<td>@Html.DisplayFor(modelItem => item.Apellido)</td>*@
                        <td>@Html.DisplayFor(modelItem => item.Edad)</td>
                        <td class="text-right">
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit btn btn-info btn-xs" })
                            @Html.ActionLink(" ", "Details", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list btn btn-success btn-xs" })
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-remove btn btn-danger btn-xs" })
                            @*<a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list"></span> Details</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>*@
                        </td>
                    </tr>
                }
                </tr>
            </table>
        </div>
    </div>
